#mainDiv {
    padding: 0 20px 20px 20px;
    flex: 2;
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}

#mazeGrid {
    position: relative;
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 10px auto;
    width: calc(max(453px, min(151vh, 75.5vw)) + 20px);
    height: calc(max(225px, min(75vh, 37.5vw)) + 20px);
    background-color: rgba(0, 0, 0, 0.4);
    /*grid-template-rows: repeat(7, max(3px, min(5vh, 3vw)));
    grid-template-columns: repeat(11, max(3px, min(5vh, 3vw)));/**/
    /**/grid-template-rows: repeat(75, max(3px, min(1vh, 0.5vw)));
    grid-template-columns: repeat(151, max(3px, min(1vh, 0.5vw)));/**/
}

.transition .mazeElem {
    transition: background-color 0.5s;
}

.noTransition .mazeElem {
    transition: none;
}

#footer {
    position: absolute;
    cursor: default;
    font-size: 20px;
    color: gray;
    bottom: 10px;
    width: calc(100% - 40px);
}

#footer a {
    color: gray;
    text-decoration: none;
    transition: color 0.2s;
}

#footer a:hover {
    color: white;
}

