.mazeElem {
    transition: background-color 0.5s;
}

.empty {
    background-color: white;
}

.start {
    background-color: red;
}

.end {
    background-color: orangered;
}

.test {
    color: cornflowerblue;
}