.mazeElem {
    transition: background-color 0.5s;
}

.empty {
    background-color: white;
}

.start, .end {
    background-color: red;
}

.searched {
    background-color: #ff8c00;
}

.correctPath {
    background-color: #007bff;
}