.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(28, 115, 0, 0.6);
}

#footer {
    position: absolute;
    text-align: center;
    cursor: default;
    font-size: 20px;
    color: gray;
    bottom: 5px;
    width: calc(100% - 40px);
}

#footer a {
    color: gray;
    text-decoration: none;
    transition: color 0.2s;
}

#footer a:hover {
    color: white;
}
